@namespace BlazorFormDesigner.Web.Components

<div class="vertical" style=@($"align-items: {Alignment}; justify-content: {Justify}; width: {Width}; height: {Height};")>
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Alignment { get; set; } = HorizontalAlignment.Center;

    [Parameter]
    public string Justify { get; set; } = VerticalAlignment.Unset;

    [Parameter]
    public string Width { get; set; } = "100%";

    [Parameter]
    public string Height { get; set; } = "auto";

}
