<div class="paper" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0; padding-left: 120px; padding-right: 120px; padding-bottom: 20px; padding-top: 20px;">
    <Vertical>
        <MatH4>@Form.Title</MatH4>
        <MatH6 Class="center-text" Style=@($"color: {Colors.Primary};")>@("Created by: " + Form.CreatorId)</MatH6>
        <MatH6 Class="center-text">@Form.Description</MatH6>
        <MatH6 Class="center-text">This form is expired or it was dismissed.</MatH6>

    </Vertical>
</div>

@code {

    [Parameter]
    public Form Form { get; set; }

}
