@namespace BlazorFormDesigner.Web.Components

<div class="container" style=@($"max-width: {Width}; height: {Height}; margin-top: {Top}; margin-bottom: {Bottom};")>
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Width { get; set; } = "1920px";

    [Parameter]
    public string Height { get; set; } = "auto";

    [Parameter]
    public string Top { get; set; } = "20px";

    [Parameter]
    public string Bottom { get; set; } = "20px";

}
