<Horizontal Wrap=@FlexWrap.Wrap Alignment=@HorizontalAlignment.Left Padding=@(new Border("0px", "0px", "0px", "10px"))>
    @foreach (var option in Options)
    {
        <div class="framed" style=@($"margin-right: 10px; align-items: center; width: auto; flex-direction: row;")>
            <MatBody1>@option.Content</MatBody1>
        </div>
    }
</Horizontal>

@code {

    [Parameter]
    public List<Option> Options { get; set; }

}
